* {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  display: grid;
  justify-items: center;
  margin-top: 60px;
  gap: 40px;
}

img {
  max-width: 100%;
}
p {
  font-size: 20px;
}
a {
  text-decoration: none;
}
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.menu {
  display: flex;
  flex: 1;
  list-style: none;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}
.menu a {
  display: inline-block;
  color: black;
  background-color: white;
  padding: 15px 25px;
  border: 1px solid transparent;
}
.menu a:hover {
  border: 1px solid red;
}
.container {
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info-principal {
  background-color: white;
  text-align: end;
  padding: 40px;
  display: grid;
  place-items: end;
  align-content: center;
  gap: 20px;
}

.info-principal a {
  background-color: #ee2211;
  padding: 15px 25px;
  color: white;
  border-radius: 4px;
}

.info-principal a:hover {
  background-color: #900;
}

.vantagens {
  font-size: 64px;
  text-align: end;
  align-self: center;
  color: #c6c6c6;
  font-weight: 600;
  padding-right: 60px;
}

.info-secundaria {
  background-color: white;
  padding: 50px;
  gap: 40px;
  display: grid;
  grid-template-columns: auto 1fr;
}

h3 {
  padding-bottom: 20px;
}

.rodape {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}
